# Site
name: "MaakBib"
title: "MaakBib"
description: "De MaakBib website, wat ga jij maken?"
logo: 'assets/images/logo.png'
logoheader: 'assets/images/logoMaakbibHeader.png'
favicon: 'assets/images/favicon.ico'
baseurl: 
google_analytics: ''
#disqus: 'demowebsite'
#mailchimp-list: 'https://wowthemes.us11.list-manage.com/subscribe/post?u=8aeb20a530e124561927d3bd8&amp;id=8c3d2d214b'
include: ["_pages"]
permalink: /:title/

# Authors
authors:
  cri:
    name: Cristina
    display_name: Cristina
    avatar: 'assets/images/avatars/avatar01.png'
    email: cristina@decreatievestem.be
    web: https://decreatievestem.be
    twitter: https://twitter.com/
    description: "Oprichter van De Creatieve STEM. Workshops begeleiden, workshops maken, opleiden, inspireren, ze doet het allemaal."
  ben:
    name: Benny
    display_name: Benny
    avatar: 'assets/images/avatars/avatar08.png'
    gravatar: none
    email: benny.malengier@decreatievestem.be
    web: http://decreatievestem.be
    twitter: https://twitter.com/
    description: "Benny is onderzoeker bij de UGent. Hij ontwikkeld workshops rond IoT, Arduino en meer. Hij verzorgt de IT voor De Creatieve STEM, en is onder andere mede auteur van <a href=\"http://blokkencode.ingegno.be\">blokkencode.ingegno.be</a>"
  amy:
    name: Amy
    display_name: Amy
    avatar: 'assets/images/avatars/avatar03.png'
    email: amy@decreatievestem.be
    web: http://decreatievestem.be
    twitter: https://twitter.com/
    description: "Amy is FabLab manager, workshop ontwikkelaar, boten bouwer, zeilster en dan ook nog workshop begeleider bij De Creatieve STEM"
  len:
    name: Lennard
    display_name: Lennard
    avatar: 'assets/images/avatars/avatar17.png'
    email: lennard@decreatievestem.be
    web: http://decreatievestem.be
    twitter: https://twitter.com/
    description: "Lennard is productontwikkelaar en manus van alles: lassen, houtbewerking, digitaal tekenen. Kan allemaal. Hij is workshop begeleider bij De Creatieve STEM"
  sanne:
    name: Sanne
    display_name: Sanne
    avatar: 'assets/images/avatars/avatar05.png'
    email: 
    web: http://decreatievestem.be
    twitter: https://twitter.com/
    description: "Sanne is productontwikkelaar. Ze is onder andere bedenker van <a href=\"http://www.ingegno.be/realisations/diorama.html\">het Diorama project</a> welke je bij Ingegno, De Creatieve STEM en enkele bibliotheken kunt uitlenen"
# Plugins
plugins:
  - jekyll-paginate-v2
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-archives

# gems
gems: [jekyll-paginate-v2]

# Archives
jekyll-archives:
  enabled:
    - categories
  layout: archive
  permalinks:
    category: '/category/:name/'
    
# Pagination 
#paginate: 6
#paginate_path: /page:num/
############################################################
# Site configuration for the Jekyll 3 Pagination Gem
# The values here represent the defaults if nothing is set
pagination:
  
  # Site-wide kill switch, disabled here it doesn't run at all 
  enabled: true

  # Set to 'true' to enable pagination debugging. This can be enabled in the site config or only for individual pagination pages
  debug: false

  # The default document collection to paginate if nothing is specified ('posts' is default)
  collection: 'posts'

  # How many objects per paginated page, used to be `paginate` (default: 0, means all)
  per_page: 10

  # The permalink structure for the paginated pages (this can be any level deep)
  permalink: '/page/:num/' # Pages are index.html inside this folder (default)
  #permalink: '/page/:num.html' # Pages are simple html files 
  #permalink: '/page/:num' # Pages are html files, linked jekyll extensionless permalink style.

  # Optional the title format for the paginated pages (supports :title for original page title, :num for pagination page number, :max for total number of pages)
  title: ':title - page :num'

  # Limit how many pagenated pages to create (default: 0, means all)
  limit: 0
  
  # Optional, defines the field that the posts should be sorted on (omit to default to 'date')
  sort_field: 'date'

  # Optional, sorts the posts in reverse order (omit to default decending or sort_reverse: true)
  sort_reverse: true

  # Optional, the default category to use, omit or just leave this as 'posts' to get a backwards-compatible behavior (all posts)
  category: 'posts'

  # Optional, the default tag to use, omit to disable
  tag: ''

  # Optional, the default locale to use, omit to disable (depends on a field 'locale' to be specified in the posts, 
  # in reality this can be any value, suggested are the Microsoft locale-codes (e.g. en_US, en_GB) or simply the ISO-639 language code )
  locale: '' 

  # Optional,omit or set both before and after to zero to disable. 
  # Controls how the pagination trail for the paginated pages look like. 
  trail: 
    before: 2
    after: 2

  # Optional, the default file extension for generated pages (e.g html, json, xml).
  # Internally this is set to html by default
  extension: html

  # Optional, the default name of the index file for generated pages (e.g. 'index.html')
  # Without file extension
  indexpage: 'index'
  
############################################################

# Other
markdown: kramdown

kramdown:
  input: GFM
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    block:
      line_numbers: true

# Adsense (change to "enabled" to activate, also your client id and ad slot. Create a new ad unit from your Adsense account to get the slot.)
adsense: "disabled"
adsense-data-ad-client: "ca-pub-3412143450191416"
adsense-data-ad-slot: "1363087678"

# Lazy Images ("enabled" or "disabled")
lazyimages: "disabled"

exclude: [changelog.md, LICENSE.txt, README.md, Gemfile, Gemfile.lock]
