---
layout: default
title: Home
pagination: 
  enabled: true
---
<!-- Tech Selector
================================================== -->
<div class="filterbutton">
  <a href="{{ site.baseurl }}/lowtech"
    >Low Tech</a>
  <a href="{{ site.baseurl }}/midtech"
    >Middle Tech</a>
  <a href="{{ site.baseurl }}/hightech"
    >High Tech</a>
  <a class="btnactive" href="{{ site.baseurl }}/">Alle</a>
</div>

<!-- avoid liquid error with escape character / and id char . -->
{% assign pagebased = site.baseurl | append: "/" | append: "index.html" %}

{% if page.url == "/" or pagebased == page.url  %}
<!-- Featured
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Featured</span></h2>
    </div>
    <div class="row">

    {% for post in site.posts %}

        {% if post.featured == true and post.hide != true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>
</section>

{% endif %}

<!-- Posts Index
================================================== -->
<section class="recent-posts">

    <div class="section-title">

        <h2><span>Alle Activiteiten</span></h2>

    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}
      
          {% if post.hide != true %}

            {% include postbox.html %}
      
          {% endif %}

        {% endfor %}

    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">


  
<div class="pagination">
  {% if paginator.total_pages > 1 %}
    
    {% if paginator.previous_page %}
    
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">&laquo;</a>
    
    {% endif %}
    
    {% if paginator.page_trail %}
      {% for trail in paginator.page_trail %}
        <a href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}" {% if page.url == trail.path %}class="active"{% endif %}>{{ trail.num }}</a>
      {% endfor %}
    {% else %}
        Not working page trail.
    {% endif %}
    
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">&raquo;</a>
    {% endif %}
    
 {% endif %}
</div>  
</span>
</div>

