---
layout: default
disqus: false
archive: false
post_class: post-template
---

<!-- Begin Article
================================================== -->
<div class="container">
    <div class="row">

        <!-- Left Column -->
        <div class="col-md-2 pl-0">
          {% if false %}  <!-- deactivate the share sidebox for now -->
            {% include share.html %}
          {% endif %}
          
          
          <!-- Author Box -->
          {% for authorname in page.authors %}
            {% assign author = site.authors[ authorname ] %}
            <div class="row post-top-meta">
                <div class="share text-center text-md-center">
                    {% if author.avatar %}
                    <img class="author-thumb" src="{{site.baseurl}}/{{ author.avatar }}" alt="{{ author.display_name }}" style="margin-right: 0px">
                    {% else %}
                    <img class="author-thumb" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x" alt="{{ author.display_name }}">
                    {% endif %}
                    <p>
                    <a target="_blank" class="link-dark" href="{{ author.web }}">{{ author.display_name }}</a>
                    </p><!--a target="_blank" href="{{ author.twitter }}" class="btn follow">Follow</a-->
                    <span class="author-description">{{ author.description }}</span>
                </div>
            </div>
          {% endfor %}
          
          {% if page.DIT or page.DIY or page.CHALLENGE %}
          <div class="share sticky-top sticky-top-offset">
            {% if page.DIT %}
              <p><strong>DIT</strong> </p>
              <p>Doe in groep deze activiteit.</p>
              <p>Je krijgt hier een handig stappenplan.</p>
            {% endif%}
            {% if page.DIY %}
              <p><strong>DIY</strong> </p>
              <p>Deze activiteit doe je zelfstandig op je eigen ritme.</p>
            {% endif%}
            {% if page.CHALLENGE %}
              <p><strong>CHALLANGE</strong> </p>
              <p>Dit is een challenge. Werk eraan in groep, werk op het stuk dat je het meest interesseert.</p>
            {% endif%}
          </div>
          {% endif %}
          
        </div>

        <!-- Post -->

        <div class="col-md-9 flex-first flex-md-unordered">
            <div class="mainheading">

                <!-- Author Box above post-->
                {% if false %}
                {% for authorname in page.authors %}
                  {% assign author = site.authors[ authorname ] %}
                  <div class="row post-top-meta">
                      <div class="col-xs-12 col-md-3 col-lg-2 text-center text-md-left mb-4 mb-md-0">
                          {% if author.avatar %}
                          <img class="author-thumb" src="{{site.baseurl}}/{{ author.avatar }}" alt="{{ author.display_name }}">
                          {% else %}
                          <img class="author-thumb" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x" alt="{{ author.display_name }}">
                          {% endif %}
                      </div>
                      <div class="col-xs-12 col-md-9 col-lg-10 text-center text-md-left">
                          <a target="_blank" class="link-dark" href="{{ author.web }}">{{ author.display_name }}</a><a target="_blank" href="{{ author.twitter }}" class="btn follow">Follow</a>
                          <span class="author-description">{{ author.description }}</span>
                      </div>
                  </div>
                {% endfor %}
                {% endif %}

                <!-- Post Title -->
              <div class="limitheight row post-top-meta">
              <div class="limitheight col-xs-12 col-md-9 col-lg-10 text-center text-md-left">
                <h1 class="posttitle">{{ page.title }}</h1>
              </div>
                  <div class="printbutton col-xs-12 col-md-3 col-lg-2 text-center text-md-right mb-4 mb-md-0">
                {% if page.print %}
                  <a target="_blank" href="{{ site.baseurl }}/{{ page.print }}" > 
                  </a>
                {% endif %}
                  </div>
              </div>
          </div>

            <!-- Adsense if enabled from _config.yml (change your pub id and slot) -->
            {% if site.adsense == "enabled" %}
                {% include adsense-under-header.html %}
            {% endif %}
            <!-- End Adsense -->

            <!-- Post Featured Image -->
            {% if page.image %}

            {% if site.lazyimages == "enabled" %}
            <img class="featured-image img-fluid lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
            {% else %}
            <img class="featured-image img-fluid" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
            {% endif %}

            {% endif %}
            <!-- End Featured Image -->

            <!-- Post Content -->
            <div class="article-post">
                <!-- Toc if any -->
                {% if page.toc %}
                    {% if page.beforetoc %}
                        <p><em>{{page.beforetoc}}</em></p>
                    {% endif %}
                    <div class="toc mt-4 mb-4 lead">
                        <h3 class="font-weight-bold">Summary</h3>
                        {% include toc.html html=content %}
                    </div>
                {% endif %}
                <!-- End Toc -->
                {{content}}
              
                <!-- Downloadable content box -->
                {% if page.downloads %}
                <div class="list-item-2 container wrap-reverse align-items-end justify-content-center" data-aos="fade-up" data-aos-delay="0" data-aos-offset="0">
                  <div class="list-item-2-img flex-basis-300 flex-grow-1" data-aos="fade-up" data-aos-delay="300" data-aos-offset="0">
                    <h2>Downloads</h2>
                  </div>
                  <div class="flex-basis-400 flex-grow-5">
                    {% for download in page.downloads %}
                    <div class="list-download" data-aos="fade-up" data-aos-delay="300" data-aos-offset="0">
                      <div class="list-download-title">
                      {% assign urlstart = download.file | slice: 0, 4 %}
                      {% assign url = {{site.baseurl}} | append: '/' | append: {{download.file}} %}
                      {% if urlstart == 'http' %}
                        {% assign url = {{download.file}} %}
                      {% endif %}
                      <p>{{download.name}}: <a href="{{url}}" target=_blank>Download</a></p>
                        {% if download.description %}
                          <p class="list-download-p">{{download.description}}</p>
                        {% endif %}
                      </div>
                      <hr>
                    </div>
                    {% endfor %}
                  </div>
                </div>
                {% endif %}
                
            </div>

            <!-- Rating -->
            {% if page.rating %}
            <div class="rating mb-4 d-flex align-items-center">
                <strong class="mr-1">Rating:</strong> {% include star_rating.html %}
            </div>
            {% endif %}

            <!-- Post Date -->
            <p>
            <small>
                <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time></span>           
                {% if page.last_modified_at %}
                (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
                {% endif %}
                </small>
            </p>
              
            {% if page.layout == post %}
              <!-- Post Categories -->
              <div class="after-post-cats">
                  <ul class="tags mb-4">
                      {% assign sortedCategories = page.categories | sort %}
                      {% for category in sortedCategories %}
                      <li>
                          <a class="smoothscroll" href="{{site.baseurl}}/categories#{{ category | replace: " ","-" }}">{{ category }}</a>
                      </li>
                      {% endfor %}
                  </ul>
              </div>
              <!-- End Categories -->

              <!-- Post Tags -->
              <div class="after-post-tags">
                  <ul class="tags">
                      {% assign sortedTags = page.tags | sort %}
                      {% for tag in sortedTags %}
                      <li>
                          <a class="smoothscroll" href="{{site.baseurl}}/tags#{{ tag | replace: " ","-" }}">#{{ tag }}</a>
                      </li>
                      {% endfor %}
                  </ul>
              </div>
              <!-- End Tags -->
           {% endif %}

            <!-- Prev/Next -->
            <div class="row PageNavigation d-flex justify-content-between font-weight-bold">
            {% if page.previous.url %}
            <a class="prev d-block col-md-6" href="{{ site.baseurl }}/{{page.previous.url}}"> &laquo; {{page.previous.title}}</a>
            {% endif %}
            {% if page.next.url %}
            <a class="next d-block col-md-6 text-lg-right" href="{{ site.baseurl }}/{{page.next.url}}">{{page.next.title}} &raquo; </a>
            {% endif %}
            <div class="clearfix"></div>
            </div>

        </div>
        <!-- End Post -->

    </div> <!-- end row -->
    
<!-- End Article
================================================== -->

<!-- Begin Comments  -- TURNED OFF
================================================== -->
{% if false %}
    <div class="container">
        <div id="comments" class="row justify-content-center mb-5">
            <div class="col-md-8">
                {% include disqus.html %}
            </div>
        </div>
    </div>
{% endif %}
<!--End Comments
================================================== -->

<!-- Review with LD-JSON, adapt it for your needs if you like, but make sure you test the generated HTML source code first: 
https://search.google.com/structured-data/testing-tool/u/0/
================================================== -->
{% if page.rating %}
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Review",
  "itemReviewed": {
    "@type": "Thing",
    "name": "{{ page.title }}"
  },
  "author": {
    "@type": "Person",
    "name": "{{ author.display_name }}"
  },
  "datePublished": "{{ page.date | date:"%Y-%m-%d" }}",
  "reviewRating": {
    "@type": "Rating",
    "ratingValue": "{{ page.rating }}",
    "bestRating": "5"
  }
}
</script>
{% endif %}